name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      VERSION: ${{ github.ref_name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: pip

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller pillow pyinstaller-hooks-contrib

      - name: Build binary
        run: |
          mkdir -p dist release
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            pyinstaller --onefile src/KodiLogMonitor.py -n KodiLogMonitor.exe
            cp dist/KodiLogMonitor.exe release/KodiLogMonitor-windows.exe
            cp logo.ico release/logo-windows.ico
          elif [[ "${{ runner.os }}" == "macOS" ]]; then
            pyinstaller --onefile src/KodiLogMonitor.py -n KodiLogMonitor
            cp -r dist/KodiLogMonitor release/KodiLogMonitor-macos
            cp logo.ico release/logo-macos.ico
          else
            pyinstaller --onefile src/KodiLogMonitor.py -n KodiLogMonitor
            cp -r dist/KodiLogMonitor release/KodiLogMonitor-linux
            cp logo.ico release/logo-linux.ico
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: kodi-${{ github.ref_name }}-${{ runner.os }}
          path: release/*
