name: Build KodiLogMonitor

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

concurrency:
  group: release
  cancel-in-progress: true

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Debug repository structure
        run: |
          echo "===== ROOT ====="
          ls -R

      - name: Build with PyInstaller
        run: |
          python -m PyInstaller ./spec/app.spec

      - name: Prepare release binary
        shell: bash
        run: |
          mkdir release

          if [ "$RUNNER_OS" == "Windows" ]; then
            cp dist/KodiLogMonitor.exe release/KodiLogMonitor-windows.exe
          fi

          if [ "$RUNNER_OS" == "macOS" ]; then
            cp dist/KodiLogMonitor release/KodiLogMonitor-macos
          fi

          if [ "$RUNNER_OS" == "Linux" ]; then
            cp dist/KodiLogMonitor release/KodiLogMonitor-linux
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: KodiLogMonitor-${{ runner.os }}
          path: release/*

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Show artifacts
        run: ls -R artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
